.foot {
  align-items: center;
  display: flex;
  color: $day-font-color-light;
  font: {
    weight: 500;
    size: .85rem;
  }
  justify-content: space-between;

  &__right {
  	display: flex;
    align-items: center;
  }
}

.dark .foot {
  color: $night-font-color-light;
}

.main-actions, .share-note, .user-profile {
  flex: 1;
  display: flex;
  justify-content: space-between;

  &__right {
    display: flex;
  }
}

.main-actions {
  align-items: center;
}

.share-note {
  align-items: flex-start;
  
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    display: flex;
    margin: {
      bottom: .35rem;
    }
  }
  
  &__url {
    cursor: default;
    width: 275px;
    text-overflow: ellipsis;
    color: $day-font-color;
    font: {
      size: .8rem;
      family: $sans-serif;
    }
    background: {
      color: $day-background-color;
    }
    border: {
      width: 1px;
      style: solid;
      color: $day-border-color;
      right-width: 0;
      top-left-radius: $border-radius;
      bottom-left-radius: $border-radius;
      top-right-radius: 0;
      bottom-right-radius: 0;
    }
    padding: {
      top: 3px;
      left: 6px;
      right: 6px;
      bottom: 3px;
    }
    -webkit-appearance: none;

    &:focus {
      outline: 0;
    }

    @media screen and (max-width: $sm) {
      width: 185px;
    }
  }

  .dark &__url {
    color: $night-font-color;
    border-color: $night-border-color;
    background: {
      color: $night-background-color;
    }
  }

  &__link {
    color: $day-primary-color;
  }

  .dark &__link {
    color: $night-primary-color;
  }

  &__button {
    cursor: pointer;
    background-color: $day-primary-color;
    color: $white;
    cursor: pointer;
    border: {
      width: 1px;
      style: solid;
      color: $day-primary-color-dark;
      top-right-radius: $border-radius;
      bottom-right-radius: $border-radius;
    }
    font: {
      size: .85rem;
      weight: 500;
      family: $sans-serif;
    }

    padding: {
      top: 3px;
      left: 6px;
      right: 6px;
      bottom: 3px;
    }

    &:focus {
      outline: 0;
    }
  }

  .dark &__button {
    background: {
      color: $night-primary-color;
    }
    border: {
      color: $night-primary-color-dark;
    }
  }

  &__permission {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    cursor: pointer;
    background-color: transparent;
    border: {
      style: solid;
      width: 1px;
      radius: $border-radius;
    }
    margin: {
      right: .25rem;
    }
    font: {
      weight: 500;
      family: $sans-serif;
    }
    height: 23px;
    width: 27px;
    padding: 0;
    transition: border-color $transition, color $transition;

    &:focus {
      outline: 0;
    }

    &.on {
      color: $green;
      border: {
        color: $green;
      }
    }

    &.off {
      color: $red;
      border: {
        color: $red;
      }
    }
  }

  &__info {
    font: {
      size: .8rem;
    }
  }
}
