#nv, #home {
  min-height: 100vh;
}

#login, #signup, #notfound, #public, .container {
  margin: {
    bottom: 0;
    left: auto;
    right: auto;
  }
  padding: {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
}

#login, #signup, #public, .container {
  margin: {
    top: 0;
  }
}

#notfound, #public, .container {
  max-width: 35rem;  
}

#login, #signup {
  max-width: 22;
}

#nv, #home {
  color: palette(black);
  background-color: palette(white);
  transition: background-color $transition;

  &.dark {
    color: palette(white);
    background: {
      color: palette(dark);
    }   
  }
}
