body {
  background-color: $white;
  margin: 0;
}

#app {
  width: 100vw;
  font: {
    family: $sans-serif;
    size: 18px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app, #nv {
  height: 100vh;
}

#login, #signup, #notfound, #public, .container {
  margin: {
    bottom: 0;
    left: auto;
    right: auto;
  }
  padding: {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
}

#login, #signup, #notfound, #public, .container {
  margin: {
    top: 0;
  }
}

#notfound, #public, .container {
  max-width: 35rem;  
}

#login, #signup {
  max-width: 22;
}

#nv {
  color: $day-font-color;
  background: {
    color: $day-background-color;
  }
  transition: background-color $transition;

  &.dark {
    color: $night-font-color;
    background: {
      color: $night-background-color;
    }   
  }
}

.text-center {
  text-align: center;
}
