.auth {
	margin: {
		bottom: 0;
		left: auto;
		right: auto;
		top: 2rem;
	}
	width: 22rem;

	&__title {
		color: $gray-d;
		font-size: 1.9rem;
	}

	&__form {
		display: flex;
		flex-direction: column;

		&__group {
			display: flex;
			flex-direction: column;
			margin-bottom: .9rem;

			&__label {
				font: {
			        family: $sans-serif;
					size: .95rem;
					weight: 500;
				}
				margin-bottom: 3px;
			}

			&__input {
				color: $black;
				border: {
					color: $gray-l;
					radius: $border-radius;
					style: solid;
					width: 1px;
				}
				box-shadow: $box-shadow;
				font: {
			        family: $sans-serif;
					size: 1rem;
				}
				outline: 0;
				padding: {
					bottom: 9px;
					right: 10px;
					left: 10px;
					top: 9px;
				}

				&:focus {
					border-color: $red;
					transition: $transition;
				}

				&.email, &.password {
					background: {
						position: 98%;
						repeat: no-repeat;
					}
				}

				&.email {
					background-image: url("../assets/email.svg");
					background-size: 25px;
				}

				&.password {
					background-image: url("../assets/password.svg");
					background-size: 26px;
				}
			}
		}

		&__button {
			color: #fff;
			cursor: pointer;
			background-color: $red;
			border: {
				color: $red;
				radius: $border-radius;
				style: solid;
				width: 3px;
			}
			padding: {
				bottom: 7px;
				right: 10px;
				left: 10px;
				top: 7px;
			}
			font: {
				family: $sans-serif;
				size: 1rem;
				weight: 700;
			}
			margin-top: .5rem;
			width: 8rem;

			&:focus {
				outline: 0;
			}

			&:hover {
				background-color: $red-d;
				transition: $transition;
			}
		}
	}
}