body {
  background-color: $white;
  margin: 0;
}

#app {
  color: $gray-d;
  font: {
    family: $sans-serif;
    size: 16px;
  }
  margin: {
    bottom: 0;
    left: auto;
    right: auto;
    top: 0;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 35rem;
  padding: 1rem;
}

.text-center {
  text-align: center;
}
