body {
  background-color: $white;
  margin: 0;
}

#app {
  color: $gray-d;
  font: {
    family: $sans-serif;
    size: 16px;
  }
  margin: {
    bottom: 0;
    left: auto;
    right: auto;
    top: 0;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 35rem;
  padding: {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
}

.text-center {
  text-align: center;
}

.message {
  border: {
    color: $blue;
    radius: $border-radius;
    style: solid;
    width: 1px;
  }
  box-shadow: $box-shadow;
  color: $blue;
  display: flex;
  font: {
    family: $sans-serif;
    size: .9rem;
    weight: 500;
  }
  justify-content: space-between;
  margin: {
    bottom: 2rem;
    left: 0;
    right: 0;
    top: 1rem;
  }
  padding: {
    bottom: .75rem;
    left: .75rem;
    right: .75rem;
    top: .75rem;
  }

  .text {
    flex: 1;
  }

  .close {
    background: {
      image: url("../assets/close.svg");
      position: 95%;
      repeat: no-repeat;
      size: 22px;
    }
    cursor: pointer;
    width: 22px;
  }
}
