.button {
  background-color: $white;
  border: {
    color: $gray-l;
    radius: $border-radius;
    style: solid;
    width: 1px;
  }
  color: $gray;
  cursor: pointer;
  font: {
    family: $sans-serif;
    size: .85rem;
    weight: 500;
  }
  padding: {
    bottom: 3px;
    left: 6px;
    right: 6px;
    top: 3px;
  }
  transition: border-color $transition, color $transition;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $gray-d;
  }

  &.primary {
    background-color: $red;
    border-color: $red-d;
    color: $white;

    &:hover {
      border-color: $red-d;
    }
  }

  &.large {
    box-shadow: $box-shadow;
    padding: {
      bottom: 7px;
      right: 10px;
      left: 10px;
      top: 7px;
    }
    font: {
      size: 1rem;
      weight: 700;
    }
    width: 5.5rem;
  }
}
