.editor {
  display: flex;
  margin-bottom: .75rem;

  mark {
    color: transparent;
    background-color: $red;
    opacity: .25;
  }

  &__textarea, &__ghost,  &__placeholder {
    flex: 1;
    height: 15.5rem;
    padding: 1rem 0;
    border: {
      top: 1px solid;
      bottom: 1px solid;
      right: 0;
      left: 0;
    }
    font: {
      size: .95rem;
      family: $sans-serif;
    }
  }

  &__textarea,  &__placeholder {
    border-color: $gray-l;
  }

  &__textarea {
    background-color: transparent;
    outline: 0;
    resize: none;

    &:focus {
      border-color: $red;
      transition: $transition;
    }
  }

  &__ghost {
    width: 560px;
    z-index: -1;
    position: absolute;
    border-color: transparent;
    color: transparent;
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
  }
}
