.field {
	&__group {
		display: flex;
		flex-direction: column;	
		flex: 1;
		margin-bottom: 10px;
		@include border(palette(gray, light));
		box-shadow: $box-shadow;
		padding: {
			bottom: 6px;
			right: 10px;
			left: 10px;
			top: 6px;
		}
		transition: border-color $transition;

		&.active {
			border-color: palette(orange);
		}

		&__label {
			color: palette(black);
			font: {
				family: $sans-serif;
				size: .8rem;
				weight: 500;
			}
			margin: {
				bottom: 1px;
			}
		}

		&__input {
			border: 0;
			color: palette(black);
			background-color: transparent;
			font: {
				family: $sans-serif;
				size: 1rem;
			}
			outline: 0;

			&::placeholder {
					color: palette(gray);  
			}
		}
	}
}

.dark .field {
	&__group {
		@include border(palette(dark, light));

		&.active {
			border-color: palette(blue);
		}

		&__label {
			color: palette(white);
		}

		&__input {
			color: palette(white);

			&::placeholder {
					color: palette(dark, x-light);  
			}
		}
	}
}
