.foot {
  align-items: center;
  display: flex;
  color: $gray;
  font: {
    size: .85rem;
    weight: 500;
  }
  justify-content: space-between;

  &__right {
  	display: flex;
    align-items: center;
  }
}

.main-actions, .share-note {
  flex: 1;
  display: flex;
  justify-content: space-between;

  &__right {
    display: flex;
  }
}

.main-actions {
  align-items: center;
}

.share-note {
  align-items: flex-start;
  
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    display: flex;
    margin: {
      bottom: .35rem;
    }
  }
  
  &__url {
    border: {
      width: 1px;
      style: solid;
      color: $gray-l;
      right-width: 0;
      top-left-radius: $border-radius;
      bottom-left-radius: $border-radius;
    }
    padding: {
      top: 3px;
      left: 6px;
      right: 6px;
      bottom: 3px;
    }

    @media screen and (max-width: $sm) {
      width: 185px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__link {
    color: $red;
  }

  &__button {
    cursor: pointer;
    background-color: $red;
    color: $white;
    cursor: pointer;
    border: {
      width: 1px;
      style: solid;
      color: $red-d;
      top-right-radius: $border-radius;
      bottom-right-radius: $border-radius;
    }
    font: {
      size: .85rem;
      weight: 500;
      family: $sans-serif;
    }

    padding: {
      top: 3px;
      left: 6px;
      right: 6px;
      bottom: 3px;
    }

    &:focus {
      outline: 0;
    }
  }

  &__permission {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    cursor: pointer;
    background-color: $white;
    border: {
      style: solid;
      width: 1px;
      radius: $border-radius;
    }
    margin: {
      right: .25rem;
    }
    font: {
      weight: 500;
      family: $sans-serif;
    }
    padding: {
      top: 3px;
      left: 6px;
      right: 6px;
      bottom: 3px;
    }

    &:focus {
      outline: 0;
    }

    &.on {
      color: $green;
      border: {
        color: $green;
      }
    }

    &.off {
      color: $red-2;
      border: {
        color: $red-2;
      }
    }
  }

  &__info {
    font: {
      size: .8rem;
    }
  }
}
