.home {
	color: palette(gray, dark);
	max-width: 40rem;

	padding: {
		top: 1rem;
		right: 1rem;
		bottom: 1rem;
		left: 1rem;
	}

	margin: {
		right: auto;
		left: auto;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: {
			bottom: 2rem;
		}
		padding: {
			top: .5rem;
			bottom: .5rem;
		}

		&__logo {
			color: palette(orange);
			text-decoration: none;
			font: {
				family: $sans-serif;
				size: 1.5rem;
				weight: 700;
			}
		}

		&__button {
			color: palette(gray, dark);
			cursor: pointer;
			border: 0;
			background-color: transparent;
			font: {
				family: $sans-serif;
				size: 1rem;
				weight: 500;
			}
			padding: {
				bottom: 6px;
				right: 10px;
				left: 10px;
				top: 6px;
			}

			&.primary {
				box-shadow: 0 2px 4px RGBA(0,0,0,0.04);
				color: palette(white);
				border: {
					style: solid;
					width: 1px;
					color: palette(orange, dark);
					radius: $border-radius;
				}
				font: {
					weight: 900;
				}
				background-color: palette(orange);
			}
		}
	}

	&__header {
		text-align: center;
	}

	&__headline {
		color: palette(black);
		margin: 0;
		font: {
			weight: 900;
		}
	}

	&__subline {
		text-align: center;
		color: palette(gray, dark);
		font: {
			family: $sans-serif;
			size: 1.5rem;
		}

		span {
			color: palette(black);
			background-color: palette(orange, light);
			font-weight: 700;
		}
	}

	&__browser {
		box-shadow: $box-shadow-2;
		max-width: 37rem;
		height: 24rem;

		margin: {
			top: 1rem;
			right: auto;
			bottom: 2rem;
			left: auto;
		}

		border: {
			style: solid;
			width: 1px;
			color: palette(orange);
			radius: $border-radius;
		}

		&__header {
			display: flex;
			align-items: center;
			height: 2rem;
			border-bottom: {
				style: solid;
				width: 1px;
				color: palette(orange);
			}
		}

		&__button-group {
			padding: {
				left: 10px;
			}
		}

		&__button {
			display: inline-block;
			width: .5rem;
			height: .5rem;
			border: {
				style: solid;
				width: 1px;
				color: palette(orange);
				radius: 50%;
			}
		}
	}

	&__foot {
		display: flex;
		justify-content: space-between;
		color: palette(gray, light);
		transition: color $transition;

		margin: {
			top: 1rem;
			bottom: 2rem;
		}

		a {
			color: palette(gray, light);
			transition: color $transition;
		}

		font: {
			size: .95rem;
			weight: 400;
		}

		&:hover {
			color: palette(gray);

			a {
				color: palette(orange);
			}
		}

		@media screen and (max-width: $sm) {
			flex-direction: column;
			align-items: center;
		}
	}
}
