.profile {
	&__header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		border-bottom: {
			style: solid;
			width: 1px;
			color: palette(gray, light);
		}
		padding: {
			top: .5rem;
		}
		margin-bottom: 2rem;
		box-shadow: $box-shadow;
		transition: border-bottom-color $transition;

		h1 {
			margin: 0; 
			font-size: 1.9rem;		
		}

		span {
			cursor: pointer;
			margin-left: 1rem;
			font: {
				weight: 500;
			}
			padding-bottom: 1px;
			border-bottom: {
				style: solid;
				width: 0px;
			}

			&:hover {
				border-bottom-color: palette(orange);
				border-bottom-width: 4px;
			}
		}
	}

	&__upgrade {
		text-align: center;
		line-height: 1.5;
		margin-bottom: 2rem;

		&__headline {
			font-size: 1.75rem;		
		}
		font: {
			size: 1.35rem;
			weight: 400;
		}

		.number {
			font-weight: 900;
		}

		.feature {
			white-space: nowrap;
			background-color: palette(orange, light);
			font-weight: 900;
			transition: background-color $transition;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin: {
			bottom: 3rem;
		}

		&__container {
			display: flex;

			@media screen and (max-width: $sm) {
				flex-direction: column;
			}
		}

		&__group {
			display: flex;
			flex-direction: column;	
			flex: 1;
			margin-bottom: 10px;
			@include border(palette(gray, light));
			box-shadow: $box-shadow;
			padding: {
				bottom: 6px;
				right: 10px;
				left: 10px;
				top: 6px;
			}
			transition: border-color $transition;

			&.active {
				border-color: palette(orange);
			}

			&__label {
				font: {
					family: $sans-serif;
					size: .8rem;
					weight: 500;
				}
				margin: {
					bottom: 1px;
				}
			}

			&__input {
				border: 0;
				color: palette(black);
				background-color: transparent;
				font: {
					family: $sans-serif;
					size: 1rem;
				}
				outline: 0;

				&::placeholder {
      				color: palette(gray);  
    			}
			}

			&:first-child {
				margin-right: 10px;

				@media screen and (max-width: $sm) {
					margin-right: 0;
				}
			}
		}

		&__button {
			color: #fff;
			cursor: pointer;
			background-color: palette(orange);
			border: {
				color: palette(orange, dark);
				radius: $border-radius;
				style: solid;
				width: 1px;
			}
			box-shadow: $box-shadow;
			padding: {
				bottom: 9px;
				right: 11px;
				left: 11px;
				top: 9px;
			}
			font: {
				family: $sans-serif;
				size: 1rem;
				weight: 700;
			}
			margin-top: .5rem;
			transition: border-color $transition, background-color $transition;
			width: 8rem;

			&:focus {
				outline: 0;
			}

			&:hover {
				border-color: palette(orange, x-dark);
			}
		}
	}
}

.dark .profile {
	&__header {
		border-bottom-color: palette(dark, light);

		span {
			&:hover {
				border-bottom-color: palette(blue);
			}
		}
	}

	&__upgrade {
		.feature {
			background-color: palette(blue, a-light);
		}
	}

	&__form {
		&__group {
			@include border(palette(dark, light));

			&.active {
				border-color: palette(blue);
			}

			&__input {
				color: palette(white);

				&::placeholder {
      				color: palette(dark, x-light);  
    			}
			}
		}

		&__button {
			color: palette(white);
			cursor: pointer;
			background-color: palette(blue);
			border-color: palette(blue, dark);

			&:hover {
				border-color: palette(blue, x-dark);
			}
		}
	}
}