@each $theme, $colors in (light, $light),
                         (dark, $dark) {
  .#{$theme} {
    .search {
        display: flex;
        flex-direction: column;

        mark {
          background: {
            color: map-get($colors, primary-color-light);
          }
          color: map-get($colors, font-color-dark);
        }

        &__container {
          display: flex;
          flex-direction: column;
          height: 4.5rem;
          margin: {
            bottom: 0;
            left: 0;
            right: 0;
            top: 1rem;
          }

          @media screen and (max-width: $sm) {
            margin: {
              top: .25rem;
            }
          }
        }

        &__input {
          @include border(map-get($colors, border-color));
          @include background(
            map-get($colors, background-color),
            "../assets/#{$theme}/search.svg",
            25px,
            99%
          );

          color: map-get($colors, font-color-dark);
          box-shadow: $box-shadow;
          flex: 1;
          font: {
            family: $sans-serif;
            size: 1rem;
          }
          max-height: 25px;
          outline: 0;
          padding: {
            bottom: 9px;
            right: 30px;
            left: 10px;
            top: 9px;
          }
          transition: border-color $transition;

          &:focus {
            border-color: map-get($colors, primary-color);
          }

          &::placeholder {
            color: map-get($colors, font-color-light);  
          }
        }

        &__info {
          color: map-get($colors, font-color-lighter);
          display: flex;
          font: {
            size: .75rem;
          }
          justify-content: space-between;
          margin: {
            left: .4rem;
            right: .4rem;
            top: .4rem;
          }

          .command {
            text-transform: uppercase;
            color: map-get($colors, font-color);
            background: {
              color: map-get($colors, border-color-light);
            }
            font: {
              family: $mono;
            }
            padding: {
              bottom: .05rem;
              right: .1rem;
              left: .1rem;
              top: .05rem;
            }
          }
        }

        &__results {
          height: 8rem;
          list-style-type: none;
          margin: {
            bottom: .5rem;
            top: 0;
          }
          overflow-y: auto;
          padding-left: 0;
        }

        &__result {
          cursor: pointer;
          display: flex;
          font: {
            family: $sans-serif;
            size: .95rem;
          }
          justify-content: space-between;
          padding: {
            bottom: .3rem;
            right: .4rem;
            left: .4rem;
            top: .3rem;
          }

          span {
            white-space: nowrap;
          }

          &.active {
            background: {  
              color: map-get($colors, border-color-light);
            }
          }

          &__name {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__description {
            color: map-get($colors, font-color-lighter);
          }

          &__time {
            padding-left: .5rem;
          }

          &__editor {
            background: {  
              color: map-get($colors, border-color-light);
            }
            border: 0;
            color: map-get($colors, font-color);
            flex: 1;
            font: {
              family: $sans-serif;
              size: .95rem;
            }
            padding: 0;
            outline: 0;
          }
        }
    }
  }
}