.search {
    display: flex;
    flex-direction: column;

    &__input {
      margin: 1rem 0; 
      flex: 1;
      color: $black;
      border: 1px solid $gray-l;
      border-radius: $border-radius;
      padding: 9px 30px 9px 10px;
      font-size: 1rem;
      outline: 0;
      box-shadow: $box-shadow;
      font-family: $sans-serif;

      &:focus {
        border-color: $red;
        transition: $transition;
      }

      background-image: url("../assets/search.svg");
      background-size: 25px;
      background-position: 99%;
      background-repeat: no-repeat;
    }

    &__results {
      margin: {
        top: 0;
        bottom: 1rem;
      }
      padding-left: 0rem;
      list-style-type: none;
    }

    &__result {
      display: flex;
      justify-content: space-between;
      padding: .3rem .4rem;
      font-size: .95rem;
      font-family: $sans-serif;
      cursor: pointer;

      span {
        white-space: nowrap;
      }

      &.active {
        background-color: $gray-l;
      }

      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__description {
        color: $gray;
      }

      &__time {
        padding-left: .5rem;
      }

      &__editor {
        flex: 1;
        border: 0;
        font-size: .95rem;
        color: $gray-d;
        font-family: $sans-serif;
        background-color: $gray-l;
        padding: 0;
        outline: 0;
      }
    }
}
