.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

@keyframes spin {
  100% {
  	transform:rotate(360deg);
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.icon__cnt {
  width: 100%;
  height: 100%;
  background: inherit;
  fill: palette(orange);
  pointer-events: none;
  transform: translateX(0);
}

.dark {
  .icon__cnt {
    fill: palette(blue);
  } 
}

.icon--m {
  width: 50px;
  height: 50px;
}

.icon__spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon--ei-spinner .icon__spinner,
.icon--ei-spinner-2 .icon__spinner {
	animation: spin 1s steps(12) infinite;
}