// Colors
$red: #FF5722;
$red-d: darken($red, 2);

$white: #FFFFFF;
$white-d: #FDFDFD;

$gray-l: #EAEAEA;
$gray: #888888;
$gray-d: #555555;

$black: #333333;

// Type
$sans-serif: 'Avenir', 'Lato', sans-serif;

// Misc
$border-radius: 3px;
$box-shadow: 0 2px 4px rgba(0,0,0,0.04);
$transition: all .25s ease-in-out;