// Colors
$red: #FF5722;
$red-d: darken($red, 10);
$red-l: rgba(255, 87, 34, .25);

$white: #FFFFFF;
$white-d: #FDFDFD;

$gray-l: #EAEAEA;
$gray: #888888;
$gray-d: #555555;

$black: #000000;

$blue: #0087F8;
$green: #00b27f;
$red-2: #FA5744;

// Type
$sans-serif: 'Avenir', 'Lato', sans-serif;
$mono: 'Inconsolata', 'Lucida Console', monospace;

// Misc
$border-radius: 3px;
$box-shadow: 0 2px 4px rgba(0,0,0,0.04);
$transition: .25s ease-in-out;
$sm: 544px;
